:root {
    --gris: #464646;
    --background-light: #f5f5f5;
    --blue: #253D5B;
    --background-blue-light: #e9edf1;
    --light: #f9f9f9;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--background-light);
    font-family: 'Raleway', sans-serif;
    color: var(--gris);
}

ul,
li {
    list-style: none;
    /* display: inline; */
}

a {
    text-decoration: none;
    color: var(--gris)
}

.container {
    display: flex;
    width: 1440px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
}

.redes-banner,
.text-banner,
.header,
.logo-nav {
    color: var(--gris);
}


/* --------------------------------- HEADER --------------------------------- */
.header {
    display: flex;
    width: 1136px;
    padding: 32px 0px;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.logo-nav {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.logo-nav a {
    margin-left: 8px;
}

.icon {
    color: var(--blue);
}

.nav-header ul li,
.redes-banner li {
    display: inline;
    vertical-align: middle;
}

.nav-header ul li {
    margin: auto 10px;
}

/* --------------------------------- BANNER --------------------------------- */
.banner {
    display: flex;
    width: 1136px;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    line-height: normal;
}

.text-banner {
    display: flex;
    width: 751px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}

.text-banner h1 {
    color: var(--blue);
    font-size: 52px;
    font-weight: 700;
}

.text-banner p {
    font-size: 22px;
    font-weight: 400;
}

.img-banner img {
    width: 350px;
    height: 350px;
    border-radius: 350px;
    background-color: var(--blue);
}

.redes-banner {
    display: flex;
    width: 751px;
    align-items: flex-start;
    gap: 32px;
}

.redes-banner img {
    vertical-align: middle;
    width: 20px;
}

/* ---------------------------------- ABOUT --------------------------------- */
.about {
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background-color: var(--background-blue-light);
}

.text-about {
    display: flex;
    width: 1136px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

h2 {
    color: var(--blue);
    font-size: 32px;
    font-weight: 700;
}

.text-about p {
    font-size: 16px;
    font-weight: 400;
    width: 751px;
    text-align: justify;
}

.text-about img {
    width: 140px;
    height: 52px;
}

/* -------------------------------------------------------------------------- */
/*                                   SKILLS                                   */
/* -------------------------------------------------------------------------- */
.skills,
.hobbies {
    display: flex;
    width: 1136px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 88px;
    gap: 32px;
}

.skills {
    gap: 32px;
}

.container-cards {
    display: flex;
    gap: 16px;
}


.card-1,
.card-2 {
    display: flex;
    width: 176px;
    height: 174px;
    padding: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border: 1px solid var(--blue);
    border-radius: 15px;

}

.card-1 p,
.card-2 p {
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    font-style: normal;
    line-height: normal;
    color: var(--gris);
}

.card-1 svg {
    color: var(--blue);
}

/* --------------------------------- HOBBIES -------------------------------- */
.card-2 img {
    width: 48px;
}

/* -------------------------------- ACADEMIC -------------------------------- */
.academic {
    display: flex;
    padding: 82px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    background-color: var(--background-blue-light);
    width: 1440px;
}

.container-cards2 {
    display: flex;
    align-items: flex-start;
    gap: 16px;

}

.card-academic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sub-t {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.img-academic {
    display: flex;
    width: 368px;
    height: 286px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--background-light);
}

.img-academic img {
    width: 190px;
    height: 130px;
    flex-shrink: 0;
}

/* -------------------------------- PROYECTS -------------------------------- */
.proyects {
    display: flex;
    width: 1440px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.container-proyects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    /* border: 2px solid var(--blue); */
}

.card-proyect {
    display: flex;
    width: 1136px;
    height: 406px;
    align-items: center;
    gap: 16px;
}

.card-proyect img {
    width: 700px;
    flex-shrink: 0;
    align-self: stretch;
}

.right-proyects {
    width: 368px;
    gap: 8px;
}

.buttons-proyects {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-top: 15px;
}

.buttons-proyects button {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 12px;
    border-radius: 5px;
    width: 116px;
}

.outline {
    border: 2px solid var(--blue);
    color: var(--blue);
    background-color: var(--light);
}

.active {
    color: var(--light);
    background-color: var(--blue);
}

/* -------------------------------------------------------------------------- */
/*                                   CONTACT                                  */
/* -------------------------------------------------------------------------- */
.contact {
    display: flex;
    width: 1440px;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--background-blue-light);
}

.container-contact {
    display: flex;
    width: 1136px;
    padding-top: 64px;
    align-items: center;
    gap: 16px;
    background-color: var(--background-light);
}

.container-contact img {
    width: 464px;
    height: 593px;
    flex-shrink: 0;
    /* background-color: #253D5B; */
    padding: 50px;
}

.right-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}

.right-contact p {
    margin-top: 8px !important;
}

/* --------------------------------- FOOTER --------------------------------- */
footer {
    display: flex;
    flex-direction: column;
    width: 1440px;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fa-regular, .fa-brands {
    color: var(--blue);
    margin: 0 5px;
}

